/node_modules/*
/fabric-client-kvs-seller*
/fabric-client-kv-seller*
/fabric-client-kvs-trader*
/fabric-client-kvs-buyer*
/fabric-client-kvs-banker*
/fabric-client-kvs-shipper*
/fabric-client-cvs-seller*
/fabric-client-cvs-trader*
/fabric-client-cvs-buyer*
/fabric-client-cvs-banker*
/fabric-client-cvs-shipper*
/artifacts*
/runApp.sh
/testAPIs.sh
/node1
/node2
/node3
/node3/node_modules
/chaincode
node_modules